<suite name="Suite1" parallel="classes" thread-count="5" verbose="10">
  <test name="parallels" preserve-order="true" >
    <classes>
       <class name="com.googlecode.mycontainer.grid.parallels.Simple1Test" />
       <class name="com.googlecode.mycontainer.grid.parallels.Simple2Test" />
       <class name="com.googlecode.mycontainer.grid.parallels.Simple3Test" />
       <class name="com.googlecode.mycontainer.grid.parallels.Simple4Test" />
    </classes>
  </test>
</suite>